<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кинотеатр "Тхи-Тхи"</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center mb-4">Кинотеатр "Тхи-Тхи"</h1>

        <div class="text-center mb-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4AzAZ5CmgwOPJyA0svFClQZC87M_lefRaJw&s"
                 class="img-fluid rounded">
        </div>

        <h2 class="text-center mb-3">Лучшие премьеры</h2>

        <p class="text-center fs-5">
            Смотрите любимые фильмы вместе с нами!
        </p>
    </div>

</body>
</html>